body {
   background-color: #2875ba;
   color: whitesmoke;
   text-shadow: 1px 2px #000;
}
#content {
   padding: 0 50px;
}
.bold {
   font-weight: bold;
}
.prettyprint {
   background-color:lightgray;
}
.section {
   margin-top:20px;
}

#laptop {
   width: 500px;
}

#laptopDiv {
   text-align: center;
}

h1 {
   text-align: center;
   color: white;
}

a:link, a:visited {
   color: white;
   text-decoration: none;
   cursor: pointer;
 }
 
 a:link:hover {
   text-decoration: underline;
 }

 ul {
   font-size: 1.5em;
   color: white;
 }
 
 #intro {
    margin: 30px 0;
 }

 .seperator {
    margin-top:25px;
    border-top: solid thin black;
    padding-top:25px;
 }

 #homeContent {
    display: grid;
    grid-template-columns: 1fr 250px 350px 1fr;
 }