body {
   background-image: url('./images/flag.svg');
   background-size: cover;
   margin:0; padding:0;
}

div.blank {
   background-color: white;
}

.header, .row {
   display:grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.header {
   font-weight:bold;
   margin: 5px 0;
}

.hidden {
   display:none;
}

.result {
   text-decoration:none;
   color:black;
}

.row:nth-child(even) {
   background: #CCC;
}

.tense {
   font-weight:bold;
   cursor: help;
   padding:3px;
}

#content {
   margin:50px;
   background-color:white;
   padding: 20px;
}

#verbs {
   margin-bottom: 30px;
}

#search {
   margin-left: 50px;
   width: 300px;
   padding: 3px;
   font-size: 16px;
   border-radius: 10px;
}

#searchContainer {
   position: relative;
   top: 25px;
   left: 15px;
   width: 300px;
}

#searchResults {
   position: absolute;
   width: 800px;
   top: 10px;
   background-color: #C0C0C0;
   border-radius: 10px;
   padding: 5px;
   list-style: none;
   display: none;
}

#searchResults li {
      padding: 5px;
      border-radius: 5px;
}

#searchResults li:hover {
   background-color: white;
}