.board {
   width: 600px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.square {
   height: 200px;
   border: solid black 1px;
}

.player {
   font-size: 100px;
   text-align: center;
   padding-top: 30px;
   margin: auto 0;
}

#reset {
   height: 50px;
   margin-top: 30px;
}

div:nth-child(1) {
   border-top: none;
   border-left: none;
}

div:nth-child(2) {
   border-top: none;
}

div:nth-child(3) {
   border-top: none;
   border-right: none;
}

div:nth-child(4) {
   border-left: none;
}

div:nth-child(6) {
   border-right: none;
}

div:nth-child(7) {
   border-bottom: none;
   border-left: none;
}

div:nth-child(8) {
   border-bottom: none;
}

div:nth-child(9) {
   border-bottom: none;
   border-right: none;
}

.turn {
   text-align: center;
   font-size: 2em;
}

.board {
   width:600px;
   margin: 50px auto;
}